<div class="subnav">
  <nav class="subnav" aria-labelledby="subnav-heading">
    <h2 class="govuk-visually-hidden" id="subnav-heading">Pages in this section</h2>
    <ul>
      <li {% if page.url contains '/index.html' %}class="active" {% endif %}>
        <a href="/">Home</a>
      </li>
      <li {% if page.url contains '/interaction-design/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/interaction-design">What interaction designers do</a>
      </li>
      <li {% if page.url contains '/service-design/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/service-design">What service designers do</a>
      </li>
      <li {% if page.url contains '/community/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/community">Design community</a>
      </li>
      <li {% if page.url contains '/standards/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/standards">Design standards</a>
      </li>
      <li {% if page.url contains '/tools-and-resources/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/tools-and-resources">Tools and resources</a>
      </li>
      <li {% if page.url contains '/service-teams/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/service-teams">Services we're working on</a>
      </li>
      <li {% if page.url contains '/specialist-publisher/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/specialist-publisher">Specialist Publisher</a>
      </li>
      <li {% if page.url contains '/accessibility-acceptance-criteria/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/accessibility-acceptance-criteria/">Accessibility acceptance criteria</a>
      </li>
      <li {% if page.url contains '/design-crits/' %}class="active" {% endif %}>
        <a href="{{ site.baseurl }}/design-crits">Design crits</a>
      </li>
    </ul>
  </nav>
</div>
