<div class="subnav">
  <nav class="subnav" aria-labelledby="subnav-heading">
    <h2 class="govuk-visually-hidden" id="subnav-heading">Pages in this section</h2>
    <ul>
      <li {% if page.url contains '/index.html' %}class="active" {% endif %}>
        <a href="/index.html">Home</a>
      </li>
      <li {% if page.url contains '/design.html' %}class="active" {% endif %}>
        <a href="/design.html">What designers do</a>
      </li>
      <li {% if page.url contains '/community.html' %}class="active" {% endif %}>
        <a href="/community.html">Design community</a>
      </li>
      <li {% if page.url contains '/standards.html' %}class="active" {% endif %}>
        <a href="/standards.html">Design standards</a>
      </li>
      <li {% if page.url contains '/tools-and-resources.html' %}class="active" {% endif %}>
        <a href="/tools-and-resources.html">Tools and resources</a>
      </li>
      <li {% if page.url contains '/service-teams.html' %}class="active" {% endif %}>
        <a href="/service-teams.html">Services we're working on</a>
      </li>
      <li {% if page.url contains '/specialist-publisher.html' %}class="active" {% endif %}>
        <a href="/specialist-publisher.html">Specialist Publisher</a>
      </li>
      <li {% if page.url contains '/accessibility-acceptance-criteria.html' %}class="active" {% endif %}>
        <a href="/accessibility-acceptance-criteria.html">Accessibility acceptance criteria</a>
      </li>
      <li {% if page.url contains '/design-crits.html' %}class="active" {% endif %}>
        <a href="/design-crits.html">Design crits</a>
      </li>
    </ul>
  </nav>
</div>
